<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>메뉴</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <script src="/assets/plugins/jquery.min.js"></script>
    <script src="/assets/socket/socket.io-client/dist/socket.io.js"></script>

</head>

<body>
    <a href="/test/mobiles">휴대폰 관리</a>
    <a href="/test/incalls">강제수신</a>
    <a href="/test/outcalls">강제발신</a>
    <a href="/test/blacklist">블랙리스트</a>
    <a href="/test/calls">통화기록</a>
    <a href="/test/loans">신청자료</a>
    <a href="/test/location">위치지도</a>
</body>

</html>